@import "tailwindcss";

@theme inline {
  --color-accent: #aa26ff;
  --color-code-bg: #f6f6f6;
  --color-border: #f0f0f0;
}

@layer base {
  a {
    color: revert;
    text-underline-offset: 2.5px;
  }
  a:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-accent);
  }
}
