@import "tailwindcss";

@theme inline {
  --color-accent: #aa26ff;
  --color-code-bg: #f6f6f6;
  --color-border: #f0f0f0;
  --leading-tategaki: 1.8;
  --height-tategaki: calc(100dvh - 10rem);
  --height-tategaki-image: calc(100dvh - 12rem);
}

@layer base {
  a {
    color: revert;
    text-underline-offset: 2.5px;
  }
  a:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-accent);
  }
}
