@import "tailwindcss";

@theme inline {
  --color-accent: #aa26ff;
}

@layer base {
  a {
    color: revert;
    text-underline-offset: 2.5px;
  }
  a:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-accent);
  }
}
